.chris-aragon{
    height: 140px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.Hi{
    text-align: center;
    color: white;
}
.links{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.my-name{
    color: #ffc600;
}
@media screen and (min-width: 600px){
    .welcome-container{
        display: flex;
    }
    .welcome-text, .welcome-img{
        width: 50%;
    }
    .chris-aragon{
        height: 250px;
        width: 350px;
    }
    .welcome-img{
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .Hi{
        font-size: 40px;
        line-height: 43px;
    }
}