.bearfoot-link{
    height: 275px;
    width: 275px;
}
section{
    text-align: center;
}
p{
    font-size: 17px;
}
@media screen and (min-width: 600px){
    .bearfoot-link{
        height: 475px;
        width: 475px;
    }
    .what_is_it{
        font-size: 23px;
        line-height: 35px;
    }
    .bearfoot_title{
        font-size: 30px;
    }
}
@media screen and (min-width: 1000px){
    .bearfoot-flex-container{
        display: flex;
        padding: 30px;
    }
    .what_is_it{
        padding-left: 20px;
        padding-right: 20px;
    }
}